<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>フリガナ</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>住んでる地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>削除フラグ</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${studentList}" th:if="!${student.student.deletedFlag}">
    <td th:text="${student.student.id}"></td>
    <td><a th:href="@{/studentDetail/{id}(id=${student.student.id})}" th:text="${student.student.fullName}"></a></td>
    <td th:text="${student.student.furigana}"></td>
    <td th:text="${student.student.nickname}"></td>
    <td th:text="${student.student.email}"></td>
    <td th:text="${student.student.city}"></td>
    <td th:text="${student.student.age}"></td>
    <td th:text="${student.student.gender}"></td>
    <td th:text="${student.student.deletedFlag}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>


